<!DOCTYPE html>
<html>
<head>
    <title>Чат</title>
</head>
<body>
    <h1>Добро пожаловать в чат!</h1>
    <p>Введите имя комнаты и присоединяйтесь:</p>
    <form method="get" action="">
        <input placeholder="Название комнаты" id="room-name-input" type="text" required>
        <button type="button" id="join-room-button">Войти</button>
    </form>

    <script>
        document.getElementById('join-room-button').onclick = function() {
            const roomName = document.getElementById('room-name-input').value;
            const validRoomName = /^[a-zA-Z0-9._-]+$/; // Разрешённые символы
            if (roomName && validRoomName.test(roomName)) {
                window.location.href = `/chat/${roomName}/`;
            } else {
                alert("Название комнаты может содержать только латинские буквы, цифры, дефисы, подчёркивания и точки.");
            }
        };
    </script>
</body>
</html>
